@model Integro.App.ViewModels.ProdutoViewModel

@{
    ViewData["Title"] = "Excluir - " + Model.Nome;
}

<h1 class="mt-4 display-4 text-center">@ViewData["Title"]</h1>

<p class="text-center my-3">Você tem certeza que deseja excluir este produto?</p>

<div class="container">
    <hr />
    <div class="row">
        <div>
            <img src="~/imagens/@Model.Imagem" alt="@Model.Imagem" style="width: 400px; height: 428px" />
        </div>
        <div class="col-md-6">
            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.FornecedorId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Fornecedor.Nome)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Descricao)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Descricao)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Valor)
                </dt>
                <dd>
                    @Model.Valor.ToString("C")
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.DataCadastro)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.DataCadastro)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Ativo)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Ativo)
                </dd>
            </dl>
        </div>
    </div>
</div>

<div class="text-right">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <a asp-action="Index" class="btn btn-secondary">Voltar</a>
        <a asp-action="Delete" class="btn btn-danger">Excluir</a>
    </form>
</div>